<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juice Adventures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="juice-description">
        <h2 class="juice-heading">Juice</h2>
        <p><s>30</s>, oh wait, scrap that.</p>
        <p>90 teenagers went to Shanghai for a week, but to understand why, or how, or when, or why any of this relates to me. Lets go back a bit in our timeline.</p>
        <p>It was a normal day of January 2025, when my friend texts to me in my discord group chat that I have with my friends:</p>
        <img src="{{ url_for('static', filename='images/discord.png') }}" alt="Discord Screenshot" class=".screenshot">
        <image src="{{ url_for('static', filename='images/juicebox.png') }}" alt="Juice Image" class="juice-box">
        <p>And then I was like, "sure, why not? And the rest is history......</p>
        <br><br><br><br><br><br><br><br>
        <p>Nah, I wont leave you hanging like that.</p>
        <p>Juice is a very interesting story, and what better way to showcase that story than an arranged list of what happend on each day!</p>
        <p>So, here is the list of events that happened on each day:</p>
        <ul>
            <li>Day 1: Arrival in Shanghai. Pretty much everyone made it to Shanghai and jetlag was killing people, we had everyone checked in to the hotel, and a journey awaiting every single person there!</li>
            <li>Day 2: Kickoff, we made it to the first venue, Bottle Dream, it was a pretty nice place and everyone in the room had a lot of hope and excitement towards the event. Thomas explained the ground rules on the trip, the premise, and a base outline of what we were going to be doing on our trip.</li>
            <li>Day 3: People walking into the cafe, and us figuring out how the juicer worked. We ran into a problem, we had no clue how this weird machine that they had at Bottle Dream even worked...</li>
            <li>Day 4: Team-building activities and first real customers (according to Thomas) and first team events...</li>
            <li>Day 5: We moved to a new venue (my team being the first to actually see it, it was awesome)...</li>
            <li>Day 6: This day was similar to Day 3, but now that we had the juicer figured out, everything went much smoother...</li>
            <li>Day 7: The final day for most people. Everyone started leaving, and the venue felt quieter as the day went on...</li>
            <li>Day 8: This was the day I left. Since I stayed an extra day, I had some time to reflect on the entire experience...</li>
        </ul>
        <p>And that is the story of how 90 teenagers went to Shanghai for a week.</p>
    </div>
    <footer>
        &copy; 2025 Samhith's Project. All rights reserved.
    </footer>
</body>
</html>